defaults
    timeout connect 5s
    timeout client  5m
    timeout server  5m
    timeout queue   5m

frontend k8s-api
    bind *:6443
    mode tcp
    default_backend k8s-api-backend

frontend knext  
    bind *:443
    mode tcp
    default_backend knext-backend

backend k8s-api-backend
    mode tcp
    balance roundrobin
    option tcp-check
    server knext-master-1 10.192.3.1:443  check fall 3 rise 2
    server knext-master-2 10.192.3.12:443 check fall 3 rise 2
    server knext-master-3 10.192.3.13:443 check fall 3 rise 2

backend knext-backend
    mode tcp
    balance roundrobin
    option tcp-check
    server knext-master-1 10.192.3.1:6443  check fall 3 rise 2
    server knext-master-2 10.192.3.12:6443 check fall 3 rise 2
    server knext-master-3 10.192.3.13:6443 check fall 3 rise 2
